/*-- scss:uses --*/

/*-- scss:defaults --*/

$primary: #036C9A;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.tab-pane > p { padding-top: 0em; }

.caption {
  font-size: 80%;
  line-height: normal;
}

.nav-pills {
  .nav-tabs, .tab-content { border: none; }
  
  .nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: var(--quarto-border-radius);
    
    &.active { background-color: #036C9A; }
  }
}

.nav-link, .nav-link:hover { color: #036C9A; }
